@import '../../../index.scss';

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $dark-secondary;
  width: 100vw;
  padding-bottom: 5rem;
}

.skills__title {
  width: 80%;
  margin-top: 5rem;
}

.skills__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}
