@import '../../../index.scss';

.about {
  background-color: $dark-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 94vh;
  width: 100vw;
  min-height: 75rem;

}

.about__image {
  width: 55rem;
  border-radius: 0.5rem;
}

.about__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  margin-top: 5rem;
  margin-left: 2rem;
}

.about__discover {
  color: $color-primary;
  font-size: 1.5rem;
}

.about__title {
color: $color-light;
font-size: 2.5rem;
margin-bottom: 0.5rem;
}

hr {
  width: 7%;
  color: $color-primary;
  margin-bottom: 2rem;

}

.about__paragraph {
  color: $color-light;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

@media (max-width: 1200px){
  .about__image {
    width: 32rem;
  }
}

@media (max-width: 550px){
  .about {
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  .about__info {
    margin-top: 2rem;
    width: 85%;
  }

  .about__button {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
