@import '../../index.scss';

.navbar {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba($color-dark, 0.5);
  width: 100vw;
  height: 4rem;
  z-index: 100;

  &__name {
    color: $color-primary;
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    color: $color-light;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    margin-right: 2rem;
    transition: all 0.3s;

    &:hover {
      color: $color-primary;
    }
  }
}
