@import '../../index.scss';

.navbar {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba($color-dark, 0.5);
  width: 100vw;
  height: 4rem;
  z-index: 100;

  &__name {
    color: $color-primary;
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__link {
    color: $color-light;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    margin-right: 2rem;
    transition: all 0.3s;

    &:hover {
      color: $color-primary;
    }
  }

  &__mobile--icon {
    background-color: transparent;
    border: none;
    color: $color-light;
    font-size: 2rem;
    display: none;

  }
}

@media (max-width: 550px){
  .navbar__mobile--icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar__name {
    font-size: 1.5rem;
  }

  .navbar__list {
    display: none;
  }

  .navbar__list--mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: rgba($color-dark, 0.7);
    left: 0;
    top: 4rem;
    width: 100%;
  }

  .navbar__item {
    text-align: center;
    padding: 2rem;
    width: 100%;
  }

  .navbar__link {
    font-size: 2rem;
  }
}
