@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');

$light-primary: #e4e4e4;
$light-secondary: #f5f5f5;
$dark-primary: #1e2131;
$dark-secondary: #24253c;
$color-primary: #f45659;
$color-light: #e1e5ec;
$color-dark: #0d1015;
$color-alert: #e60023;
$color-success: #3acc86;


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'Roboto', 'Roboto Mono', monospace, sans-serif;
}
